# Ignore data files in the data/ and output/ folders
data/*.json
data/*.csv
output/*.json
output/*.csv
tests/*.py
config/river-dynamo-445508-m1-ac85f6c3600a.json

# Ignore all .duckdb files everywhere
*.duckdb
*.md

# Never ignore important config files
!package.json
!config.json
